In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import glob
import os
import pandas as pd

path = "/content/drive/MyDrive/emotions"
all_files = glob.glob(os.path.join(path , "*.csv"))
print(all_files)
dfs = []
for filename in all_files:
    colnames=['id', 'tweet', 'emotions'] 
    df = pd.read_csv(filename, names=colnames, header=None)
    dfs.append(df)

df1 = pd.concat(dfs, ignore_index=True)

['/content/drive/MyDrive/emotions/anger-ratings-0to1.dev.target.csv', '/content/drive/MyDrive/emotions/anger-ratings-0to1.test.target.csv', '/content/drive/MyDrive/emotions/anger-ratings-0to1.train.csv', '/content/drive/MyDrive/emotions/fear-ratings-0to1.dev.target.csv', '/content/drive/MyDrive/emotions/fear-ratings-0to1.test.target.csv', '/content/drive/MyDrive/emotions/fear-ratings-0to1.train.csv', '/content/drive/MyDrive/emotions/joy-ratings-0to1.dev.target.csv', '/content/drive/MyDrive/emotions/joy-ratings-0to1.test.target.csv', '/content/drive/MyDrive/emotions/joy-ratings-0to1.train.csv', '/content/drive/MyDrive/emotions/sadness-ratings-0to1.dev.target.csv', '/content/drive/MyDrive/emotions/sadness-ratings-0to1.test.target.csv', '/content/drive/MyDrive/emotions/sadness-ratings-0to1.train.csv']

In [3]:
print(df1.shape)

(7102, 3)

In [4]:
df1.head()

      id                                              tweet emotions
0  10857  @ZubairSabirPTI  pls dont insult the word 'Molna'    anger
1  10858  @ArcticFantasy I would have almost took offens...    anger
2  10859  @IllinoisLoyalty that Rutgers game was an abom...    anger
3  10860  @CozanGaming that's what lisa asked before she...    anger
4  10861  Sometimes I get mad over something so minuscul...    anger

In [5]:
print(df1.emotions.value_counts())

fear       2252
anger      1701
joy        1616
sadness    1533
Name: emotions, dtype: int64

In [6]:
df2 = pd.read_csv("/content/drive/MyDrive/tweet_emotions.csv")

In [7]:
df2.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [8]:
print(df2.sentiment.value_counts())

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [9]:
#Removing extra emotions
emotions = ['neutral','happiness','sadness','anger']
df2 = df2[df2['sentiment'].isin(emotions)]

In [10]:
#Keeping only enough records required to balance out first dataset
df2.drop(df2.query("sentiment == 'neutral'").sample(n = 6400).index, inplace = True)
df2.drop(df2.query("sentiment == 'sadness'").sample(n = 4500).index, inplace = True)
df2.drop(df2.query("sentiment == 'happiness'").sample(n = 4700).index, inplace = True)

In [11]:
#Renaming column names and values to match first dataset
df2.rename(columns={"tweet_id": "id", "sentiment": "emotions","content":"tweet"},inplace=True)
df2['emotions'] = df2['emotions'].replace(['happiness'],['joy'])

In [13]:
df= pd.concat([df1,df2])

In [16]:
df.drop(['id'], axis=1,inplace=True)
df.head()

                                               tweet emotions
0  @ZubairSabirPTI  pls dont insult the word 'Molna'    anger
1  @ArcticFantasy I would have almost took offens...    anger
2  @IllinoisLoyalty that Rutgers game was an abom...    anger
3  @CozanGaming that's what lisa asked before she...    anger
4  Sometimes I get mad over something so minuscul...    anger

In [17]:
df.shape

(10624, 2)

In [15]:
print(df.emotions.value_counts())

fear       2252
neutral    2238
sadness    2198
joy        2125
anger      1811
Name: emotions, dtype: int64

In [18]:
df.to_csv('/content/drive/MyDrive/tweet_and_emotion.csv',index=False)